@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Slab&family=Rouge+Script&family=Alex+Brush&display=swap');



/* SCSS HEX */

.text-color-snow{
color: #F7F1F1ff;
} 
.text-color-cultured{
  color: #FBF9F7ff;
}
.text-color-white{
  color: #FEFFFEff;
}
.text-color-camel{
  color: #C09359ff;
}


.bg-snow{
background-color: #F7F1F1ff;
} 
.bg-cultured{
  background-color: #FBF9F7ff;
}
.bg-whites{
  background-color: #FEFFFEff;
}
.bg-camel{
  background-color: #C09359ff;
}



@layer utilities {
  .bold-plc::placeholder {
    font-weight: bold;
  }
}
body {
  font-family: "Josefin Slab", serif;
  scroll-behavior: smooth;
}
.timber{
  color: #e3dbd3;
}
.title {
  font-family: 'Alex Brush', cursive;
  color: aliceblue;
}
.font-alex-brush{
  font-family: 'Alex Brush', cursive;
}
.font-great-vibes{
  font-family: "Great Vibes", cursive;
}
.subtitle {
  font-family: "Rouge Script", cursive;
  color: #e3dbd3;
}
.timber-bg{
  background-color: #e3dbd3;
}
.mount-bg{
  background-color: #9d7982;
}
.wine-bg{
  background-color: #733236;
}