@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Slab&family=Rouge+Script&display=swap');

@layer utilities {
  .bold-plc::placeholder {
    font-weight: bold;
  }
}
body {
  font-family: "Josefin Slab", serif;
  scroll-behavior: smooth;
}
.title {
  font-family: "Great Vibes", cursive;
}
.subtitle {
  font-family: "Rouge Script", cursive;
}
